@media (min-width: 600px) {

  /* Event description */
  #subscription-form {
    width: 60%;
  }

  /* Skills */
  .skill {
    max-width: 70%;
  }

  /* Banner */
  #banner-description {
    width: 60%;
  }

  #banner .btn {
    width: 60%;
  }
}


@media (min-width: 992px) {

  /* Event description */
  #event-description {
    height: 85vh;
    flex-direction: row;
    gap: 0em;
    padding: 2em;
  }

  #disclaimer {
    text-align: left;
  }

  #subscription-form {
    width: 30%;
  }

  .btn:hover {
    background-color: var(--color-hover);
  }

  /* Skills */
  .skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 2em;
  }

  .skill-description {
    width: 50%;
  }

  #skill-image-2 {
    order: 2;
  }

  /* Banner */
  #banner-description {
    width: 40%;
  }

  #banner .btn {
    width: 40%;
  }

  #banner .btn:hover {
    background-color: var(--color-hover);
  }

  /* Steps */
  .steps {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
  }

  .step-card {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1200px) {

  /* Event description */
  #event-description {
    height: 85vh;
    flex-direction: row;
    gap: 0em;
    padding: 2em;
  }

  #disclaimer {
    text-align: left;
  }

  #subscription-form {
    width: 22%;
  }

  .btn:hover {
    background-color: var(--color-hover);
  }

  /* Skills */
  #skills {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
  }

  .skill {
    display: flex;
    flex-direction: column;
    max-width: 30%;
  }

  .skill-description {
    width: 100%;
  }

  #skill-image-2 {
    order: 0;
  }

  /* Banner */
  #banner-description {
    width: 40%;
  }

  #banner .btn {
    width: 40%;
  }

  #banner .btn:hover {
    background-color: var(--color-hover);
  }

  /* Steps */
  .steps {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
  }

  .step-card {
    margin-bottom: 2em;
  }
}